/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2019, 4:23:37 PM
    Author     : Clarinha
*/

@import "_variables.scss";

.footer {
    display: flex;
    margin-right: $site-margin;
    margin-left: $site-margin;
    margin-top: 100px;
    justify-content: space-between;
}

.footer__column {
    align-items: center;
    display: flex;
}

.footer__text {
    font-weight: 700;
    color: $azul-secundario;
}

.footer__text_regular {
    font-size: 10px;
    line-height: 10px;
}

.footer__text_small {
    font-size: 8px;
    line-height: 8px;
}

.header__icon {
    color: $azul-principal;
    font-size: 20px;
    margin: 5px;
    }

