/*
  Estilos de elementos / blocos genéricos do site.

  Created on : Aug 10, 2019, 12:41:04 PM
  Author     : Clarinha
*/
@import "_header.scss";
@import "_menu.scss";
@import "_content/_content.scss";
@import "_footer.scss";

.site-page {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  font-family: Verdana,Helvetica,Arial,sans-serif;
}

* {
  box-sizing: border-box;
}

.modal {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Verdana,Helvetica,Arial,sans-serif;
}