/*
  Metodologia BEM - Bloco Elemento Modificador

  Bloco: conteúdo principal da página
  Prefixo: cont
  Elementos: text (title / regular), breadcrumb 

  Created on : Aug 11, 2019, 3:55:54 PM
  Author     : Clarinha
*/
@import "../_variables.scss";
@import "_bolsas-favoritas/_lista-favoritas.scss";
@import "_bolsas-disponiveis/_lista-disponiveis.scss";
@import "_modal/modal.scss";
@import "_breadcrumb.scss";
@import "_semestres.scss";

.cont {
  padding-left: $site-margin;
  padding-right: $site-margin;
}

.cont__text {
  color: $preto-suave;
}

@media screen and (min-width: 450px) {
  .cont__text_title {
      font-size: 28px;
  }
}

.cont__text_title {
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
}

.cont__text_regular {
  font-size: 12px;
}