/*
  Metodologia BEM - Bloco Elemento Modificador

  Bloco: lista de bolsas favoritas
  Prefixo: list-bfav
  Elementos: add-container, add-icon, add-title, add-text, 
             bfav (definido em _bolsa-favorita)

  Created on : Aug 11, 2019, 8:33:53 PM
  Author     : Clarinha
*/
@import "../../_variables.scss";
@import "_bolsa-favorita.scss";

.list-bfav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 856px) {
  .list-bfav {
      justify-content: center;
  }
}

@media screen and (min-width: 857px) {
  .list-bfav {
      justify-content: flex-start;
  }
}

.list-bfav__add-container {
  width: 236px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  padding: 13px;
  border: 1px solid;
  border-color: gainsboro;
  box-shadow: -2px 2px 2px 0 #eeefef;
  margin-right: 15px;
  margin-top: 15px;
}

@media screen and (min-width:574px) {
  .list-bfav__add-container {
      height: 380px;
  }
}

@media screen and (max-width:574px) {
  .list-bfav__add-container {
      height: 200px;
  }
}

.list-bfav__add-icon {
  color: $azul-principal;
  font-size: 55px;
  margin-bottom: 15%;
}

.list-bfav__add-title {
  color: $preto;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
  line-height: 0px;
}

.list-bfav__add-text {
  color: $preto;
  font-size: 12px;
  line-height: 20px;
}

@media screen and (min-width:574px) {
  .list-bfav__add-container {
      height: 380px;
  }
}

@media screen and (max-width:574px) {
  .list-bfav__add-container {
      height: 200px;
  }
}