/*
  Metodologia BEM - Bloco Elemento Modificador

  Bloco: lista de bolsas disponíveis
  Prefixo: lista-disp
  Elementos: container, row, text-header, button-container, select-container,
             button (cancel / add) (enabled / disabled)

  Created on : Aug 12, 2019, 9:13:19 PM
  Author     : Clarinha
*/
@import "../../_variables.scss";
@import "_bolsa-disponivel.scss";
@import "_filtro-bolsas-disponiveis.scss";

.lista-disp__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
}

.lista-disp__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  border-bottom: gainsboro 3px solid;
  height: 74px;
}

.lista-disp__text-header {
  color: $preto;
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
  display:block;
}

.lista-disp__header-column2 {
  margin-left: auto;
  width:92px;
}

.lista-disp__button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 36px;
}

.lista-disp__button {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  font-size: 13px;
  font-weight: bold;
  height: 41px;
  margin: 0 10px;
}

.lista-disp__button-cancel {
  border-color: $azul-secundario;
  background-color: white;
  color: $azul-secundario;
  width: 98px;
  margin-right: 3px;
}

.lista-disp__button-add {
  width: 155px;
}

.lista-disp__button-add_enabled {
  border-color: $amarelo-secundario;
  background-color: $amarelo-principal;
  color: $preto;
}

.lista-disp__button-add_disabled {
  border-color: $preto-suave;
  background-color: gainsboro;
  color: $preto-suave;
}


